<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ================================= -->
    <!-- Preserve messages in a local file -->
    <!-- ================================= -->

    <!-- A time/date based rolling appender -->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/server.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxFilesCount" value="500"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <!-- Rollover at the top of each hour
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

            <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
            <!--<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>-->

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
           <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <appender name="HTTP-REQUEST-FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/http/http.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxFilesCount" value="500"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <!-- Rollover at the top of each hour
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

            <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
            <!--<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>-->

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
           <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <appender name="EMAIL-FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/email/email.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxFilesCount" value="500"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <!-- Rollover at the top of each hour
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

            <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
            <!--<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>-->

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
           <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <appender name="SITE-INTEGRATION" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/site-integration.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxFilesCount" value="500"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <!-- Rollover at the top of each hour
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
        -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

            <!-- The default pattern: Date Priority [Category] (Thread) Message\n -->
            <!--<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>-->

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
           <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
            -->
        </layout>
    </appender>

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <!-- ============================== -->
    <!-- Send messages by email -->
    <!-- ============================== -->


    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <category name="org.springframework">
        <priority value="INFO"/>
    </category>

    <category name="openjpa">
        <priority value="INFO"/>
    </category>

    <category name="openjpa.jdbc.SQL">
        <priority value="INFO"/>
    </category>

    <category name="openjpa.jdbc.SQLDiag">
        <priority value="INFO"/>
    </category>

    <category name="freemarker">
        <priority value="INFO"/>
    </category>

    <category name="org.docx4j.convert.out.Converter">
        <priority value="INFO"/>
    </category>

    <category name="org.hibernate">
        <priority value="INFO"/>
    </category>

    <category name="sun">
        <priority value="INFO"/>
    </category>

    <category name="com.sun">
        <priority value="INFO"/>
    </category>

    <category name="javax">
        <priority value="INFO"/>
    </category>

    <category name="org.apache">
        <priority value="INFO"/>
    </category>

    <category name="http-request" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="HTTP-REQUEST-FILE"/>
    </category>

    <category name="email" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="EMAIL-FILE"/>
    </category>

    <category name="SiteHttpRequests" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="SITE-INTEGRATION"/>
    </category>


    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
