<div class="modal fade type-primary bootstrap-dialog" role="dialog">
    <!--<div class="modal bootstrap-dialog type-primary fade size-normal in" role="dialog">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{vm.title}}</h4>
            </div>
            <div class="modal-body" ng-transclude>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger text-left" ng-show="vm.errorMessage">
                    <strong>{{'common.error' | i18n}}:</strong> {{vm.errorMessage}}
                </div>
                <button class="btn btn-primary" ng-click="onSubmit()" title="{{'common.save' | i18n}}">{{'common.save' | i18n}}</button>
                <button type="button" class="btn btn-primary" ng-click="onClose()" title="{{'common.cancel' | i18n}}">{{'common.cancel' | i18n}}</button>
            </div>
        </div>
    </div>
<!--</div>-->
</div>