<!--<nav class="navbar navbar-default">-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
<!--
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
-->
        <a class="navbar-brand" href="#/"><img src="app/pic/brand-logo.png"></a>
        <a class="navbar-brand">{{'top.menu.app.name' | i18n}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
<!--
        <li ng-repeat="item in leftMenuStructure track by item.id" ng-class="item.submenu ? 'dropdown' :''">
            <a ng-if="item.displayName && !item.submenu" href="#">{{item.displayName}}</a>
            <a ng-if="item.submenu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{item.displayName}}<span class="caret"></span>
            </a>
        </li>
-->
            <li ng-class="isActive('users') ? 'active' : ''" ng-show="$.inArray('users', enabledMenu) > -1">
                <a href="#/users">{{'top.menu.users' | i18n}}</a>
            </li>
            <li ng-class="isActive('reports') ? 'active' : ''" ng-show="$.inArray('reports', enabledMenu) > -1">
                <a href="#/reports">{{'top.menu.reports' | i18n}}</a>
            </li>
            <li ng-class="isActive('dictionary') ? 'active' : ''" ng-show="$.inArray('dictionary', enabledMenu) != -1" class="dropdown">
                <a ng-show="$.inArray('dictionary', enabledMenu) != -1" href="" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{'top.menu.dictionary' | i18n}} <span class="caret"></span>
                </a>
                <ul ng-show="$.inArray('dictionary', enabledMenu) != -1" class="dropdown-menu">
                    <li ng-class="isActive('dictionary-product-type') ? 'active' : ''" ng-show="$.inArray('dictionary-product-type', enabledMenu) != -1">
                        <a href="#/products">{{'top.menu.product.type' | i18n}}</a>
                    </li>
                    <li ng-class="isActive('dictionary-job-type') ? 'active' : ''" ng-show="$.inArray('dictionary-job-type', enabledMenu) != -1">
                        <a href="#/job-types">{{'top.menu.job.type' | i18n}}</a>
                    </li>
                    <li ng-class="isActive('dictionary-job-sub-type') ? 'active' : ''" ng-show="$.inArray('dictionary-job-sub-type', enabledMenu) != -1">
                        <a href="#job-subtypes">{{'top.menu.job.sub.type' | i18n}}</a>
                    </li>
                    <li ng-class="isActive('dictionary-price') ? 'active' : ''" ng-show="$.inArray('dictionary-price', enabledMenu) != -1">
                        <a href="#">{{'top.menu.job.price' | i18n}}</a>
                    </li>
                </ul>
            </li>

            <li ng-class="isActive('home') ? 'active' : ''" ng-show="$.inArray('home', enabledMenu) > -1">
                <a href="#">Home</a>
            </li>
            <li ng-class="isActive('about') ? 'active' : ''" ng-show="$.inArray('about', enabledMenu) != -1">
                <a href="#">About</a>
            </li>
            <li ng-class="isActive('contact') ? 'active' : ''" ng-show="$.inArray('contact', enabledMenu) != -1">
                <a ng-href="#/contact">Contact</a>
            </li>
            <li ng-class="isActive('dropdown') ? 'active' : ''" ng-show="$.inArray('dropdown', enabledMenu) != -1" class="dropdown">
                <a ng-show="$.inArray('dropdown', enabledMenu) != -1" href="" class="dropdown-toggle"
                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                </a>
                <ul ng-show="$.inArray('dropdown', enabledMenu) != -1" class="dropdown-menu">
                    <li ng-class="isActive('action') ? 'active' : ''" ng-show="$.inArray('action', enabledMenu) != -1">
                        <a href="#">Action</a>
                    </li>
                    <li ng-class="isActive('anotherAction') ? 'active' : ''" ng-show="$.inArray('anotherAction', enabledMenu) != -1">
                        <a href="#">Another action</a>
                    </li>
                    <li ng-class="isActive('somethingElseHere') ? 'active' : ''" ng-show="$.inArray('somethingElseHere', enabledMenu) != -1">
                        <a href="#">Something else here</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li ng-class="isActive('separatedLink') ? 'active' : ''" ng-show="$.inArray('separatedLink', enabledMenu) != -1">
                        <a href="#">Separated link</a>
                    </li>
                    <li ng-class="isActive('oneMoreSeparatedLink') ? 'active' : ''" ng-show="$.inArray('oneMoreSeparatedLink', enabledMenu) != -1">
                        <a href="#">One more separated link</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right col-md-offset-4 app-navbar-right">
<!--
            <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class=""><a href="../navbar-fixed-top/">Fixed top</a></li>
-->

            <li class="top_menu_user_detail titip-primary titip-bottom titip-wrapped-large">
                {{userName}}
                <span class="titip-content">
                    <div class="row">
                        <div class="col-md-4">{{'top.menu.user.details.name' | i18n}}:</div> <div class="col-xs-8"><b>{{userName}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">{{'top.menu.user.details.roles' | i18n}}:</div> <div class="col-xs-8"><b>{{userRoles}}</b></div>
                    </div>
                </span>
            </li>

<!--
            Example for simple bootsrap tooltip
            <li class="top_menu_user_detail"
                data-placement="bottom"
                data-toggle="tooltip"
                title="sdsds"
                ng-attr-title="{{userTooltip}}">
                {{userName}}
            </li>
-->
            <li><a href="" ng-click="logout()">{{'top.menu.logout' | i18n}}</a></li>
<!--
            <img ng-if="dataLoading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
-->
        </ul>
    </div> <!--/.nav-collapse -->
</div>
<div class="app-navbar-bottom-margin"></div>

<!--</nav>-->
