<main-top-menu></main-top-menu>
<div class="container">
<!--
    {{vm.tmpValue}}
    USERS
-->
    <!--<button ng-click="vm.doPost()">POST</button>-->
    <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'Name'" sortable="'fullName'">{{row.fullName}}</td>
            <td data-title="'Login'" sortable="'login'">{{row.login}}</td>
            <!--<td data-title="'Roles'" filter="{roles: 'number'}" >{{row.roles}}</td>-->
        </tr>
    </table>

<!--
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
        </tbody>
    </table>
-->
</div>
