<fieldset ng-disabled="vm.disableForm" disabled="vm.disableForm">
    <form role="form" name="vm.editForm" >
        <modal visible="vm.showDialogFlag" info="vm">
            <div class="form-group glyphicon-asterisk" ng-class="{ 'has-error': vm.jobSubTypeRequired }">
                <label for="jobSubType">{{'job-subtype-cost.table.edit.job-subtype' | i18n}}</label>
                <type-ahead id="jobSubType" info="vm.subTypeVm" model-value="vm.jobSubTypeCost.jobSubType" load-items="vm.loadJobSubTypes"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': vm.jobSubTypeRequired }">
                <div ng-if="vm.jobSubTypeRequired" class="help-block">{{'job-subtype-cost.table.edit.job-subtype.required' | i18n}}</div>
            </div>
            <div class="form-group glyphicon-asterisk" ng-class="{ 'has-error': vm.productTypeRequired }">
                <label for="productType">{{'job-subtype-cost.table.edit.product' | i18n}}</label>
                <type-ahead id="productType" info="vm.productVm" model-value="vm.jobSubTypeCost.product" load-items="vm.loadProducts"/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': vm.productTypeRequired }">
                <div ng-if="vm.productTypeRequired" class="help-block">{{'job-subtype-cost.table.edit.product.required' | i18n}}</div>
            </div>
            <div class="form-group glyphicon-asterisk" ng-class="{ 'has-error': vm.isShowRequired(vm.editForm.cost) }">
                <label for="cost">{{'job-subtype-cost.table.edit.cost' | i18n}}</label>
                <input type="number" ng-min="0" class="form-control" id="cost" name="cost" placeholder="{{'job-subtype-cost.table.edit.cost.hint' | i18n}}"
                       ng-model="vm.jobSubTypeCost.cost" ng-required="true"/>
                <div ng-if="vm.isShowRequired(vm.editForm.cost)" class="help-block">{{'job-subtype-cost.table.edit.cost.required' | i18n}}</div>
            </div>

        </modal>
    </form>
</fieldset>
