<main-top-menu xmlns="http://java.sun.com/jsf/html"></main-top-menu>
<div class="container">
    <div ng-if="!vm.isNew">
        <p>{{'order.table.order.top.title.exists' | i18n}} {{vm.order.id}}</p>
        {{'order.table.order.top.title.status' | i18n}} <b>{{(vm.order.send ? 'order.table.order.status.sent' : 'order.table.order.status.not.sent')  | i18n}}</b>
    </div>

    <div ng-if="vm.isNew">
        <p>{{'order.table.order.top.title.new' | i18n}}</p>
    </div>
    <div class="edit-buttons">
        <button class="btn btn-primary btn-sm" ng-show="vm.isEditable()" ng-disabled="vm.order == undefined" ng-click="vm.doShowNewDialog()">{{'order.product.table.append.button' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-show="vm.isEditable()" ng-disabled="vm.editDisabled" ng-click="vm.doShowEditDialog()">{{'common.edit' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-show="vm.isEditable()" ng-disabled="vm.removeDisabled" ng-click="vm.doRemove()">{{'order.product.table.remove.button' | i18n}}</button>
        <span class="button-divider"></span>

        <div class="btn-group">
            <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                    ng-show="vm.isEditable() && vm.order != undefined && vm.order.lines != undefined && vm.order.lines.length > 0">
                {{'order.table.save.order' | i18n}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="vm.saveOrderOnly()">{{'order.table.save-order-only' | i18n}}</a></li>
                <li><a href="#" ng-click="vm.saveOrderAndSend()">{{'order.table.save-order.and.send' | i18n}}</a></li>
            </ul>
        </div>

<!--
        <button class="btn btn-primary btn-lg" ng-click="vm.saveOrderOnly()"
                uib-popover="{{'order.table.save-order-only.hint' | i18n}}" popover-trigger="'mouseenter'">
            {{'order.table.save-order-only' | i18n}}
        </button>
        <button class="btn btn-primary btn-sm" ng-click="vm.saveOrderAndSend()"
                uib-popover="{{'order.table.save-order.and.send.hint' | i18n}}" popover-trigger="'mouseenter'">
            {{'order.table.save-order.and.send' | i18n}}
        </button>
-->
    </div>
    <table ng-table="vm.tableParams" class="no-pager table table-condensed table-bordered table-hover"
           ng-class="{tableRowLoading: vm.tableLoading}">
        <tr ng-repeat="row in $data track by $index">
            <td class="table-row-check"><input type="checkbox" ng-change="vm.onRowChecked()" ng-model="row.row_checked"/></td>
            <td class="td_400px" data-title="'order.product.table.column.product' | i18n">
                {{row.product.name}}
            </td>
            <td class="td_400px" data-title="'order.product.table.column.cloth-main' | i18n">
                {{row.mainCloth.name}}
            </td>
            <td class="td_400px" data-title="'order.product.table.column.cloth-comp-1' | i18n">
                {{row.compCloth1.name}}
            </td>
            <td class="td_400px" data-title="'order.product.table.column.cloth-comp-2' | i18n">
                {{row.compCloth2.name}}
            </td>
            <td data-title="'order.product.table.column.stitching.type' | i18n">
                {{'stitching.' + row.stitchingType | i18n}}
            </td>
            <td data-title="'order.product.table.column.count' | i18n">
                {{row.count}}
            </td>
            <td data-title="'order.product.table.column.cost' | i18n">
                {{row.cost}}
            </td>
        </tr>
    </table>
    <table-loading vm="vm"></table-loading>
    <order-product-edit-dialog info="vm" lines="vm.order.lines"></order-product-edit-dialog>
</div>
