<main-top-menu xmlns="http://java.sun.com/jsf/html"></main-top-menu>
<script type="text/ng-template" id="jobs.view/date.filter.html">
    <date-picker vm="vm" ng-model="params.filter()[name]"/>
</script>
<div class="container">
    <div class="edit-buttons">
        <button class="btn btn-primary btn-sm" ng-click="vm.doShowNewDialog()">{{'common.new' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.editDisabled" ng-click="vm.doShowEditDialog()">{{'common.edit' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.removeDisabled" ng-click="vm.doRemove()">{{'common.remove' | i18n}}</button>
        <span class="button-divider"></span>
        <button class="btn btn-primary btn-sm" ng-click="vm.showFilter = !vm.showFilter">{{vm.showFilter ? ('common.filter.hide' | i18n) : ('common.filter.show' | i18n)}}</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.changeTail()">{{vm.tableParams.filter().showTail ? ('job.table.hide.tail' | i18n) : ('job.table.show.tail' | i18n)}}</button>
    </div>
    <table ng-table="vm.tableParams" show-filter="vm.showFilter" class="table table-condensed table-bordered table-hover"
           ng-class="{tableRowLoading: vm.tableLoading}">
        <tr ng-repeat="row in $data track by $index" ng-class="{'danger': row.forNextWeekTail, 'success': row.tail}">
            <td class="table-row-check"><input type="checkbox" ng-change="vm.onRowChecked()" ng-model="row.row_checked"/></td>
            <td class="td_50px" data-title="'job.table.column.number' | i18n" sortable="'number'"
                filter="{number: 'text'}">{{row.number}}
            </td>
            <td class="td_400px" data-title="'job.table.column.product' | i18n" sortable="'product.name'"
                filter="{'product.name': 'text'}">{{row.product.name}}
            </td>
            <td class="td_400px" data-title="'job.table.column.job-type' | i18n" sortable="'jobType.name'"
                filter="{'jobType.name': 'text'}">{{row.jobType.name}}
            </td>
            <td class="td_400px" data-title="'job.table.column.complete.date' | i18n" sortable="'completeDate'"
                filter="{completeDate : 'jobs.view/date.filter.html'}">{{row.completeDate | date : vm.dateFormat}}
            </td>
        </tr>
    </table>
    <table-loading vm="vm"></table-loading>
    <job-edit-dialog info="vm"/>
</div>
