<main-top-menu xmlns="http://java.sun.com/jsf/html"></main-top-menu>
<script type="text/ng-template" id="jobs.view/date.filter.html">
    <date-picker vm="vm" ng-model="params.filter()[name]"/>
<!--
<div class="input-group">
    <input type="text" id="completeFilterDate" name="completeFilterDate" class="form-control input-filter"
           ng-model="params.filter()[name]"
           is-open="vm.completeDateFilterOpened"
           datepicker-options="vm.completeDateOptions" ng-required="true"
           show-button-bar = "true"
           close-text="{{'common.close' | i18n}}" current-text="{{'calendar.current.day' | i18n}}" clear-text="{{'common.clear' | i18n}}"
           uib-datepicker-popup="{{vm.dateFormat}}" ng-show="false" ng-change="vm.datePeriodFilter = params.filter()[name]"
           />
    <label class="form-control input-filter" >
        {{vm.getStartWeek(vm.datePeriodFilter) | date : vm.dateFormat}}
        &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;
        {{vm.getEndWeek(vm.datePeriodFilter) | date : vm.dateFormat}}
    </label>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.completeDateFilterOpened = true">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>
-->

</script>
<div class="container">
    <div class="edit-buttons">
        <button class="btn btn-primary btn-sm" ng-click="vm.doShowNewDialog()">{{'common.new' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.editDisabled" ng-click="vm.doShowEditDialog()">{{'common.edit' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.removeDisabled" ng-click="vm.doRemove()">{{'common.remove' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.showFilter = !vm.showFilter">{{vm.showFilter ? ('common.filter.hide' | i18n) : ('common.filter.show' | i18n)}}</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.changeTail()">{{vm.tableParams.filter().showTail ? ('hide tail' | i18n) : ('show tail' | i18n)}}</button>
    </div>
    <table ng-table="vm.tableParams" show-filter="vm.showFilter" class="table table-condensed table-bordered table-striped table-hover"
           ng-class="{tableRowLoading: vm.tableLoading}">
        <tr ng-repeat="row in $data track by $index" ng-class="{tailJob: row.tail}">
            <td class="table-row-check"><input type="checkbox" ng-change="vm.onRowChecked()" ng-model="row.row_checked"/></td>
            <td class="td_400px" data-title="'job.table.column.complete.date' | i18n" sortable="'completeDate'"
                filter="{completeDate : 'jobs.view/date.filter.html'}">{{row.completeDate | date : vm.dateFormat}}
            </td>
            <td class="td_400px" data-title="'job.table.column.number' | i18n" sortable="'number'"
                filter="{number: 'text'}">{{row.number}}
            </td>
            <td class="td_400px" data-title="'job.table.column.job-type' | i18n" sortable="'jobType.name'"
                filter="{'jobType.name': 'text'}">{{row.jobType.name}}
            </td>
            <td class="td_400px" data-title="'job.table.column.product' | i18n" sortable="'product.name'"
                filter="{'product.name': 'text'}">{{row.product.name}}
            </td>
        </tr>
    </table>
    <table-loading vm="vm"></table-loading>
    <job-edit-dialog info="vm"/>
</div>
