<main-top-menu xmlns="http://java.sun.com/jsf/html"></main-top-menu>
<div class="container">
    <div class="edit-buttons">
        <button class="btn btn-primary btn-sm" ng-click="vm.doShowNewDialog()">{{'common.new' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.editDisabled" ng-click="vm.doShowEditDialog()">{{'common.edit' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.removeDisabled" ng-click="vm.doRemove()">{{'common.remove' | i18n}}</button>
    </div>
    <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped table-hover">
        <tr ng-repeat="row in $data track by $index">
            <td class="table-row-check"><input type="checkbox" ng-change="vm.onRowChecked()" ng-model="row.row_checked"/></td>
            <td class="td_400px" data-title="'job-type.table.column.name' | i18n" >{{row.name}}</td>
            <td class="td_up_down">
                <!--<span style="width: 20px;float:left" ng-show="$index == 0">&nbsp;</span>-->
                <img ng-class = "vm.tableParams.page() == 1 && $index == 0 ? 'disabled-arrow':'active-arrow'"
                     src = "app/pic/up.png" ng-click="vm.onUp(row)"/>
                <img ng-class = "$index == $data.length - 1 && vm.tableParams.page() == vm.pageCount? 'disabled-arrow' : 'active-arrow'"
                     src = "app/pic/down.png" ng-click="vm.onDown(row)"/>
            </td>
        </tr>
    </table>
    <job-type-edit-dialog info="vm"/>
</div>
