<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>

<fieldset ng-disabled="vm.disableForm">
    <form role="form" name="vm.editForm" >
        <modal visible="vm.showDialogFlag" info="vm">
            <div class="form-group glyphicon-asterisk" ng-class="{ 'has-error': vm.isShowRequired(vm.editForm.name) }">
                <label for="name">{{'job-subtype.table.edit.name' | i18n}}</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="{{'job-subtype.table.edit.name.hint' | i18n}}"
                       ng-model="vm.jobSubType.name" ng-required="true" focus-on/>
                <div ng-if="vm.isShowRequired(vm.editForm.name)" class="help-block">{{'job-subtype.table.edit.name.required' | i18n}}</div>

                <label for="jobType">{{'job-subtype.table.edit.job-type' | i18n}}</label>
<!--
                <input id="jobType" name="jobType" type="text" ng-model="vm.jobSubType.jobType" placeholder="{{'job-subtype.table.edit.job-type' | i18n}}"
                       uib-typeahead="jobType as jobType.name for jobType in vm.getJobTypes($viewValue) | filter:{name: $viewValue}"
                       typeahead-loading="vm.loadingJobTypes" typeahead-no-results="noResults" class="form-control" ng-required="true"
                       autocomplete="off">
-->

<!--variant 1-->
<!--
                <input id="jobType" name="jobType" type="text" ng-model="vm.jobSubType.jobType" placeholder="{{'job-subtype.table.edit.job-type' | i18n}}"
                       uib-typeahead="jobType as jobType.name for jobType in vm.getJobTypes($viewValue)"
                       class="form-control" ng-required="true" typeahead-editable="false" typeahead-loading="vm.loadingJobTypes" typeahead-min-length="0"
                       autocomplete="off" ng-focus="vm.onFocus($event)" focus-me="opened" ng-disabled="vm.loadingJobTypes">
-->

                <type-ahead info="vm"/>
<!--
                <div class="input-group" uib-dropdown keyboard-nav>
                    <input id="jobType" name="jobType" type="text" ng-model="vm.jobSubType.jobType" placeholder="{{'job-subtype.table.edit.job-type' | i18n}}"
                           uib-typeahead="jobType as jobType.name for jobType in vm.getJobTypes($viewValue)"
                           class="form-control" ng-required="true" typeahead-editable="false" typeahead-loading="vm.loadingJobTypes" typeahead-min-length="1"
                           autocomplete="off">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default typeaheadTrigger" uib-dropdown-toggle ng-click="vm.getJobTypes()">
                            &nbsp;<span class="caret"></span>&nbsp;
                        </button>
                    </span>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <div ng-if="vm.loadingJobTypes" style="padding-left: 15px">
                            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>
                        <li ng-repeat="op in vm.jobTypes" role="menuitem">
                            <a href ng-click=vm.onSelectItem(op)>{{op.name}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img ng-if="vm.loadingJobTypes"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
-->



                <!--
                variant 2
                                <input id="jobType" name="jobType" type="text" ng-model="vm.jobSubType.jobType" placeholder="{{'job-subtype.table.edit.job-type' | i18n}}"
                                       uib-typeahead="jobType as jobType.name for jobType in vm.getJobTypes($viewValue)"
                                       class="form-control" ng-required="true" typeahead-loading="vm.loadingJobTypes"
                                       autocomplete="off" typeahead-template-url="customTemplate.html" typeahead-show-hint="true" typeahead-min-length="0">
                                <i ng-show="vm.loadingJobTypes" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> {{'common.no.result.found' | i18n}}
                                </div>
                -->

                <div ng-if="vm.isShowRequired(vm.editForm.jobType, true)" class="help-block">{{'job-subtype.table.edit.job-type.required' | i18n}}</div>

                <!--
                                <div>
                                    <label>{{'job-subtype.table.edit.job-type' | i18n}}</label>
                                </div>
                                <ac-select ac-model="vm.selectedJobType" ac-options="s.name for s in vm.getJobTypes()"
                                           ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }"
                                           ac-change="vm.jobTypeSelected(value)" id="jobType" name="jobType"></ac-select>
                                <div>
                                    vm.selectedJobType: {{vm.selectedJobType}}
                                </div>
                                <div>
                                    vm.stateInfo: {{vm.stateInfo}}
                                </div>
                -->
            </div>
        </modal>
    </form>
</fieldset>
