<main-top-menu xmlns="http://java.sun.com/jsf/html"></main-top-menu>
<div class="container">
    <div class="edit-buttons">
        <button class="btn btn-primary btn-sm" ng-click="vm.doShowNewDialog()">{{'common.new' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.editDisabled" ng-click="vm.doShowEditDialog()">{{'common.edit' | i18n}}</button>
        <button class="btn btn-primary btn-sm" ng-disabled="vm.removeDisabled" ng-click="vm.doRemove()">{{'common.remove' | i18n}}</button>
    </div>
    <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped table-hover">
        <tr ng-repeat="row in $data track by $index">
            <td class="table-row-check"><input type="checkbox" ng-change="vm.onRowChecked()" ng-model="row.row_checked"/></td>
            <td class="td_400px" data-title="'job-subtype.table.column.name' | i18n" >{{row.name}}</td>
        </tr>
    </table>

    <div class="dropdown pull-right makePaymentDropdownMainDiv" auto-close="outsideClick">
        <button class="btn btn-default dropdown-toggle makePaymentDropdownBtn" type="button" id="individualDrop"
                data-toggle="dropdown">Button<span class="caret pull-right"></span></button>
        <span ng-show="submitted"><label class="error">Select an Individual</label></span>
        <ul class="dropdown-menu makePaymentDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
            <input disable-auto-close type="search" ng-model="serchFilter" class="makePaymentDropdownSearchBox" placeholder="Search"/>
            <li role="presentation" ng-repeat="indi in individuals | filter: serchFilter"><a role="menuitem" ng-click="selectEntity(indi)">{{indi}}</a></li>
        </ul>
    </div>
    <job-sub-type-edit-dialog info="vm"/>
</div>
